/* 1 @keyframes rule */
/* The animation code */
/* @keyframes animateBgColor {
    from {background-color: red;}
    to {background-color: yellow;} */
@keyframes rotation {
  100% {
    transform: rotate(360deg)
  }

}

@keyframes move {
  from {
    left: -3000px
  }

  to {
    left: 0px
  }
}

@keyframes bordercolor {
  0% {
    border-color: #fff;
  }
  100% {
    border-color: #010180;
  }
}

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

* {
  margin: 0px;
  padding: 0px;
}

body {
  /* remove margin and padding on body */
  padding: 0;
  margin: 0;
  background-color: #ffffff;
}

/* Grouping example */
h1,
h2,
h3,
h4,
h5 {
  text-transform: uppercase;
}

.wrapper {
  background: #ffffff;
  /* grid layout parent */
  display: grid;
  /* create 12 col layout */
  grid-template-columns: repeat(12, minmax(0, 1fr));
  grid-template-rows: repeat(12, minmax(0, 1fr));
  width: 80%;
  margin: 0 auto;
  position: relative;
  row-gap: 1px;
  min-height: 100vh;
}

/* padding on immediate children of wrapper */
.wrapper>* {
  padding: 0px;
}

header,
footer {
  width: 100vw;
  background: #010180;
  margin: 0px;
  margin-left: -50vw;
  margin-right: -50vw;
  padding: 0px;
  overflow: hidden;
  position: relative;
  left: 50%;
  right: 50%;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

header {
  grid-column: 1 / -1;
  height: 55px;
}

header img {
  display: block;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
  width: 100%;
  height: auto;
  max-height: 300px;
  object-fit: cover;
  text-align: center;

}

.dialouge {
  background: #fff;
  /* span 6 cols */
  grid-column: 8 / 13;
  border-radius: 25px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  grid-row: 6/7;
  border-bottom-right-radius: 0px;
  border-style: solid;
  border-color: #010180;
  border-width: 10px;
  font-family: "Jersey 10", sans-serif;
  font-weight: 400;
  font-style: normal;
}


.navbar {
  grid-column: 3/11;
  grid-row: 2;
  background-color: #010180;
  text-align: center;
  height: 27px;
}

.insidenav {
  color: #fff;
  margin: 10px;
  padding: 30px;
  font-family: "Jersey 25", sans-serif;
  font-weight: 400;
  font-style: normal;
  text-decoration: none;
}

.me {
  background: #fff;
  /* span 3 cols */
  grid-column: 12 / -1;
  grid-row: 7/13;
  height: 500px;
  width: 420px;
  position: relative;
  left: 0px;
  overflow: hidden;
  animation-name: move;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
  animation-duration: 10s;
}

.me img {
  width: 350px;
  transform: rotate(-30deg);
  animation-name: rotation;
  animation-duration: 10s;
  animation-timing-function: linear;
}


footer {
  background: #010180;
  /* span all 12 cols*/
  grid-column: 1 / 13;
  grid-row: 13;
  height: 27px;
  color: #fff;
  font-family: "Jersey 10", sans-serif;
  font-weight: 400;
  font-style: normal;
}

ul {
  list-style: none;
}

/* Home Page End DNC/ Other defults */

.result {
  grid-column: 6/8;
  grid-row: 4/10;
  font-family: "Jersey 25", sans-serif;
  font-weight: 400;
  font-style: normal;
  text-align: center;

}

.result li {
  font-size: 30px;
  padding-top: 10px;
  text-align: center;
}

.result p {
  padding-bottom: 20px;
  padding-top: 5px;
}

.result ul {
  border: 5px solid #fff;
  padding: 20px;
  animation: bordercolor 3s infinite alternate;
  border-radius: 15px;
}

/* Game End */

.broken{
     grid-column: 5 / 9; 
  grid-row: 3 / 9;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.broken img{
  width: 350px;
  height: 450px;
border: #010180;
border-style: solid;
  overflow: hidden;
}

.reason{
   grid-column: 2 / 12; 
  grid-row: 10 / 13;
  text-align: center;
}

.why{
  text-align: center;
  padding: 10px;
}

table{
   width: 80%;
  margin: 0 auto;  
  border-collapse: collapse;  
  font-family: "Jersey 25", sans-serif;
  font-size: 20px;
}

th, td {
  border: 2px solid #010180;
  padding: 10px;
  text-align: center;
}
/* Broken End */

.about{
  grid-column: 3/11;
  grid-row: 3;
 font-family: "Jersey 25", sans-serif;
  font-size: 20px;
  background-color: #e8e6e6;
  border-radius: 10%;
  text-align: center;
}

.k{
  grid-column: 5/13;
  grid-row: 5/13;
}
.k img{
 
  height: 450px;
  width: 508px;
}

/* About End */
